* {
  box-sizing: border-box;
}
body {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvJLZKKJ149mbNWjQPhnGp8-VEOE7SAACs5w&usqp=CAU);
  background-color: rgba(17, 22, 20, 0.384);
  display: flex;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.blk {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 550px;
  width: 600px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 6%;
  text-shadow: black 0 1px 5px;
  text-decoration: solid;
  color: aliceblue;
}
h1 img {
  display: inline-block;
  position: relative;
  top: 15px;
  width: 200px;
  height: 200px;
  background-size: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.q1 {
  padding-bottom: 30px;
  font-size: 40px;
  color: rgba(88, 255, 88, 0.699);
}
.q2 {
  padding: 4%;
  color: rgba(100, 250, 86, 0.849);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 150%;
}
.q3 {
  padding-top: 110px;
}
